In [6]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

plt.rc("font", family="Malgun Gothic")
plt.rcParams["axes.unicode_minus"] = False

from sklearn import set_config
set_config(display="text")


import joblib
from geopy.distance import geodesic

In [2]:
df = pd.read_excel('./data/buoy_merge.xlsx')
#model = joblib.load('./best_model/21229__BEST__MinMaxScaler__RandomForestRegressor.joblib')
#/Users/chjo_moon/Desktop/PJT_Web/web_app/ml_view/best_model/21229__BEST__MinMaxScaler__RandomForestRegressor.joblib

In [21]:
df_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  31 non-null     int64
 1   지점명         31 non-null     object
 2   지점번호        31 non-null     int64
 3   위도          31 non-null     object
 4   경도          31 non-null     object
 5   거리          31 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.6+ KB

In [3]:
df_loc = pd.read_excel('./data/buoy_df.xlsx')

In [27]:
num_list = [int(job.split('_')[0]) for job in os.listdir("./best_model/")]
df_loc_filtered =  df_loc.loc[df_loc['지점번호'].isin(num_list)]

In [34]:
new_buoy = df_loc_filtered.iloc[:,1:].to_csv('./data/buoy_df.csv',encoding='utf-8',index=False)
new_buoy

In [36]:
new_buoy = df_loc_filtered.iloc[:,1:]

In [43]:
def read_model(buoy):
    loc = str(buoy['지점번호'])
    model_dir = "./best_model/"  # 디렉토리
    file_list = os.listdir(model_dir)
    
    model_file = None
    for f in file_list:
        if loc in f:
            model_file = os.path.join(model_dir, f)
            print(model_file)
            break
    
    if model_file is None:
        raise FileNotFoundError(f"{loc} 관련 모델 파일을 찾을 수 없습니다.")
    print(f"selected model : {model_file}")
    return joblib.load(model_file)

def near_buoy(lat,long):
    # 각 부이와의 거리 계산(km 단위)
    new_buoy["거리"] = new_buoy.apply(
        lambda x: geodesic([lat,long], (x["위도"], x["경도"])).kilometers,
        axis=1
    )
    # 거리값 중 가장 가까운 부이 Series Return(지점명,지점번호,위도,경도,거리)
    result = new_buoy.loc[new_buoy["거리"].idxmin()]
    print(result)
    return result

In [44]:
buoy = near_buoy(38.800, 129.766)
model = read_model(buoy)

지점명            울릉도
지점번호         21229
위도         37.4554
경도        131.1144
거리      190.396951
Name: 22, dtype: object
./best_model/21229__BEST__MinMaxScaler__RandomForestRegressor.joblib
selected model : ./best_model/21229__BEST__MinMaxScaler__RandomForestRegressor.joblib

/Users/chjo_moon/anaconda3/envs/myenv/lib/python3.11/site-packages/sklearn/base.py:442: InconsistentVersionWarning: Trying to unpickle estimator MinMaxScaler from version 1.7.1 when using version 1.7.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/chjo_moon/anaconda3/envs/myenv/lib/python3.11/site-packages/sklearn/base.py:442: InconsistentVersionWarning: Trying to unpickle estimator DecisionTreeRegressor from version 1.7.1 when using version 1.7.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/chjo_moon/anaconda3/envs/myenv/lib/python3.11/site-packages/sklearn/base.py:442: InconsistentVersionWarning: Trying to unpickle estimator RandomForestRegressor from version 1.7.1 when using version 1.7.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/chjo_moon/anaconda3/envs/myenv/lib/python3.11/site-packages/sklearn/base.py:442: InconsistentVersionWarning: Trying to unpickle estimator Pipeline from version 1.7.1 when using version 1.7.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [19]:
X = np.array([2027,11,9,1022.7,57,18.6,21.85,2,0,21,39])
X = X.reshape(1, -1)   # (1, 11) 형태: 샘플 1개, 특성 11개
model.predict(X)

/Users/chjo_moon/anaconda3/envs/myenv/lib/python3.11/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

array([9462.78119084])

In [21]:
def near_buoy(lac,long):
    # 각 부이와의 거리 계산(km 단위)
    df_loc["거리"] = df_loc.apply(
        lambda x: geodesic([lac,long], (x["위도"], x["경도"])).kilometers,
        axis=1
    )
    # 거리값 중 가장 가까운 부이 Series Return(지점명,지점번호,위도,경도,거리)
    return df_loc.loc[df_loc["거리"].idxmin()]

In [22]:
near_buoy(36.001,128.245).keys

<bound method Series.keys of Unnamed: 0            29
지점명                  포항
지점번호               22106
위도                36.35
경도            129.783333
거리            143.707998
Name: 29, dtype: object>

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73519 entries, 0 to 73518
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  73519 non-null  int64
 1   일자          73519 non-null  datetime64[ns]
 2   지점          73519 non-null  int64
 3   평균기압        73519 non-null  float64
 4   평균 상대습도     73519 non-null  float64
 5   평균 기온       73519 non-null  float64
 6   평균 수온       73519 non-null  float64
 7   적정수온        73519 non-null  int64
 8   최근저수온빈도     72109 non-null  float64
 9   최근적정수온빈도    72109 non-null  float64
 10  최근고수온빈도     72109 non-null  float64
 11  지점명         34844 non-null  object
 12  출하중량        34844 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(3), object(1)
memory usage: 7.3+ MB

In [ ]:
target_dates = pd.to_datetime(['2017-04', '2018-04', '2019-04'])

df.loc[
    (df['지점'] == 21229) 
    & 
    (df['일자'].dt.strftime('%Y-%m').isin(['2017-04','2018-04','2019-04'])), 
    :]

,Unnamed: 0,일자,지점,평균기압,평균 상대습도,평균 기온,평균 수온,적정수온,최근저수온빈도,최근적정수온빈도,최근고수온빈도,지점명,출하중량
1551,1551,2017-04-01,21229,1016.3,56.0,8.8,10.8,1,60.0,0.0,0.0,NaN,NaN
1552,1552,2017-04-02,21229,1016.6,68.0,8.5,11.2,1,60.0,0.0,0.0,울릉도,953.0
1553,1553,2017-04-03,21229,1018.6,67.0,11.9,11.3,1,60.0,0.0,0.0,울릉도,870.0
1554,1554,2017-04-04,21229,1022.8,82.0,12.0,11.7,1,60.0,0.0,0.0,NaN,NaN
1555,1555,2017-04-05,21229,1019.3,81.0,12.6,11.2,1,60.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2306,2306,2019-04-26,21229,1011.2,74.0,9.9,13.6,1,60.0,0.0,0.0,NaN,NaN
2307,2307,2019-04-27,21229,1020.0,64.0,11.4,13.5,1,60.0,0.0,0.0,NaN,NaN
2308,2308,2019-04-28,21229,1020.7,69.0,13.2,13.4,1,60.0,0.0,0.0,NaN,NaN
2309,2309,2019-04-29,21229,1015.6,83.0,13.2,13.2,1,60.0,0.0,0.0,울릉도,356.0
2310,2310,2019-04-30,21229,1008.8,88.0,13.4,13.7,1,60.0,0.0,0.0,울릉도,517.0

In [56]:
df.columns

Index(['Unnamed: 0', '일자', '지점', '평균기압', '평균 상대습도', '평균 기온', '평균 수온', '적정수온',
       '최근저수온빈도', '최근적정수온빈도', '최근고수온빈도', '지점명', '출하중량'],
      dtype='object')

In [77]:
def rolling_avg_columns_safe(df, ym, columns, station_col='지점', station=21229):
    """
    df: 데이터프레임
    ym: 기준 년월 문자열, 'YYYY-MM'
    columns: 반환할 컬럼 리스트
    station_col: 지점 컬럼 이름
    station: 지점 번호
    """
    # 기준 월 datetime 변환
    target_date = pd.to_datetime(ym + '-01')
    
    # ±2년, ±2개월 범위 계산
    start_date = target_date - pd.DateOffset(years=3, months=2)
    end_date   = target_date + pd.DateOffset(years=3, months=2)
    
    # 해당 지점 + 기간 필터링
    mask = (df[station_col] == station) & (df['일자'] >= start_date) & (df['일자'] <= end_date)
    df_filtered = df.loc[mask, columns]
    
    if df_filtered.empty:
        # 데이터가 없으면 NaN 반환
        return pd.Series({col: np.nan for col in columns})
    
    # 수치형 컬럼 평균
    numeric_cols = df_filtered.select_dtypes(include='number').columns
    avg_series = df_filtered[numeric_cols].mean()
    
    # object 컬럼(예: 지점명) 최빈값
    object_cols = df_filtered.select_dtypes(include='object').columns
    mode_series = pd.Series({col: (df_filtered[col].mode().iloc[0] 
                                   if not df_filtered[col].mode().empty else np.nan)
                             for col in object_cols})
    
    # 결과 합치기
    result = pd.concat([avg_series, mode_series])
    
    return result

In [80]:
cols = ['평균기압', '평균 상대습도', '평균 기온', '평균 수온', 
        '적정수온','최근저수온빈도', '최근적정수온빈도', 
        '최근고수온빈도', '지점명', '출하중량']

avg_result = rolling_avg_columns_safe(df, '2026-04', cols, station=21229)
print(avg_result)
print(df.columns)

평균기압        1014.266168
평균 상대습도       74.417665
평균 기온         18.351347
평균 수온         19.035629
적정수온           1.961078
최근저수온빈도       24.491018
최근적정수온빈도      16.287425
최근고수온빈도       19.221557
출하중량        4630.086957
지점명                 울릉도
dtype: object
Index(['Unnamed: 0', '일자', '지점', '평균기압', '평균 상대습도', '평균 기온', '평균 수온', '적정수온',
       '최근저수온빈도', '최근적정수온빈도', '최근고수온빈도', '지점명', '출하중량'],
      dtype='object')

In [ ]:
avg_result.to_list()

[1015.1193303853443,
 71.405874921036,
 14.551863550221098,
 17.219140871762473,
 1.7428932406822488,
 29.508528111181302,
 16.69488313329122,
 13.796588755527479,
 2439.281493001555,
 '울릉도']

In [79]:
X = np.array([2026,4,9] + avg_result.to_list()[:-2])
X = X.reshape(1, -1)   # (1, 11) 형태: 샘플 1개, 특성 11개
model.predict(X)

/Users/chjo_moon/anaconda3/envs/myenv/lib/python3.11/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

array([8914.77019372])